	<!-- Inicia Seccion de Contenido -->
	<section>
	   	<div class="container">
	   		<div class="row">
	   			<div class="col s1"></div>
	   			<div class="col s11">
	   				<div class="container">
			   			<h1>Agregar Proyecto</h1>
			   			 <div class="row">
						    <form class="col s12" action="controlador_insertar_proyecto.php" method="POST">
						      <div class="row">
						          <div class="input-field col s12">
						            <textarea id="nombreProyecto" name="nombreProyecto" class="materialize-textarea" data-length="250"></textarea>
						            <label for="nombreProyecto">Nombre</label>
						          </div>
						      </div>
						      <div class="row">
						          <div class="input-field col s12">
						            <textarea id="fechaInicio" name="fechaInicio" class="materialize-textarea" data-length="250"></textarea>
						            <label for="fechaInicio">Fecha Inicio</label>
						          </div>
						      </div>
						       <div class="row">
						          <div class="input-field col s12">
						            <textarea id="fechaFin" name="fechaFin" class="materialize-textarea" data-length="250"></textarea>
						            <label for="fechaFin">Fecha Fin</label>
						          </div>
						      </div>
						      <div class="row">
						          <div class="input-field col s12">
						            <textarea id="estatus" name="estatus" class="materialize-textarea" data-length="250"></textarea>
						            <label for="estatus">Id_Estatus</label>
						          </div>
						      </div>
						      <div class="row">
						          <div class="input-field col s12">
						            <textarea id="num" name="num" class="materialize-textarea" data-length="250"></textarea>
						            <label for="num"># Folio</label>
						          </div>
						      </div>
						      <div class="row">
						      	  <button class="btn waves-effect waves-light" type="submit" name="action">Submit
			   						 <i class="material-icons right">send</i>
			  					  </button>
						      </div>
						    </form>
						  </div>
			   		</div>
	   			</div>
	   		</div>
	   	</div>
   	</section>
   	<!-- Termina Seccion de Contenido -->
