<section>
	<div class="container">
		<div class="row">
			<div class="center col s12"><h1>Configuración</h1></div>
			<div class="container">
				<br>
				<div class="col s4">
						<div class="card small hoverable">
						    <div class="card-image waves-effect waves-block waves-light">
						      <img class="activator" src="img/almacen.png">
						    </div>
						    <div class="card-content">
						      <span class="card-title activator grey-text text-darken-4">Almacén<i class="material-icons right">more_vert</i></span>
						      <p><a href="registrar_Almacen.php">Agregar Almacén</a></p>
						      <p><a href="almacenes.php">Editar Almacén</a></p>
						    </div>
						    <div class="card-reveal">
						      <span class="card-title grey-text text-darken-4">Configurar Almacén<i class="material-icons right">close</i></span>
						      <p>Descripción</p>
						    </div>
					  </div>
				</div>

				<div class="col s4">
						<div class="card small hoverable">
						    <div class="card-image waves-effect waves-block waves-light">
						      <img class="activator" src="img/marcas.png">
						    </div>
						    <div class="card-content">
						      <span class="card-title activator grey-text text-darken-4">Marcas<i class="material-icons right">more_vert</i></span>
						      <p><a href="controlador_registra_marca.php">Agregar Marcas</a></p>
						      <p><a href="marcas.php">Editar Marcas</a></p>
						    </div>
						    <div class="card-reveal">
						      <span class="card-title grey-text text-darken-4">Configurar Marcas<i class="material-icons right">close</i></span>
						      <p>Descripción</p>>
						    </div>
					  </div>
				</div>

				<div class="col s4">
						<div class="card small hoverable">
						    <div class="card-image waves-effect waves-block waves-light">
						      <img class="activator" src="img/add.png">
						    </div>
						    <div class="card-content">
						      <span class="card-title activator grey-text text-darken-4">Usuarios<i class="material-icons right">more_vert</i></span>
						      <p><a href="_agregarEmpleado.php">Agregar Usuarios</a></p>
						      <p><a href="cuentas.php">Editar Usuarios</a></p>
						    </div>
						    <div class="card-reveal ">
						      <span class="card-title grey-text text-darken-4">Configurar Usuarios<i class="material-icons right">close</i></span>
						      <p>Descripción</p>
						    </div>
					  </div>
				</div>

				<div class="col s4">
						<div class="card small hoverable">
						    <div class="card-image waves-effect waves-block waves-light">
						      <img class="activator" src="img/tipo.png">
						    </div>
						    <div class="card-content">
						      <span class="card-title activator grey-text text-darken-4">Tipos de Producto<i class="material-icons right">more_vert</i></span>
						      <p><a href="#">Agregar Tipo de Producto</a></p>
						      <p><a href="#">Editar Tipo de Porudcot/a></p>
						    </div>
						    <div class="card-reveal">
						      <span class="card-title grey-text text-darken-4">Configuarar Producto<i class="material-icons right">close</i></span>
						      <p>Descripción</p>
						    </div>
					  </div>
				</div>

				<div class="col s4">
						<div class="card small hoverable">
						    <div class="card-image waves-effect waves-block waves-light">
						      <img class="activator" src="img/estados.png">
						    </div>
						    <div class="card-content">
						      <span class="card-title activator grey-text text-darken-4">Estados de Producto<i class="material-icons right">more_vert</i></span>
						      <p><a href="registrar_Almacen.php">Agregar Estado de Producto</a></p>
						      <p><a href="almacenes.php">Editar Estado de Producto</a></p>
						    </div>
						    <div class="card-reveal">
						      <span class="card-title grey-text text-darken-4">Configurar Estados de Productos<i class="material-icons right">close</i></span>
						      <p>Descripción</p>
						    </div>
					  </div>
				</div>
			</div>	
		</div>
		
	</div>

</section>