<section>
	<div class="container">
		<div class="row">
			<div class="center col s12"><h1>Configuración</h1></div>
			<div class="container">
				<br>
<?php if ($_SESSION["VerAlmacen"]) { ?>
    <div class="col s4 m4">
      <div class="card">
        <div class="card-image">
          <img src="img/almacen.png">
          <span class="card-title"></span>
        </div>
        <div class="card-action">
          <a href="almacenes.php" class="blue-text text-darken-2">Almacen</a>
        </div>
      </div>
    </div>
<?php } ?>

<?php if ($_SESSION["VerMarcas"]) { ?>
    <div class="col s4 m4">
      <div class="card">
        <div class="card-image">
          <img src="img/marcas.png">
          <span class="card-title"></span>
        </div>
        <div class="card-action">
          <a href="marcas.php" class="blue-text text-darken-2">Marcas</a>
        </div>
      </div>
    </div>
<?php } ?>

<?php if ($_SESSION["VerUsuario"]) { ?>
    <div class="col s4 m4">
      <div class="card">
        <div class="card-image">
          <img src="img/add.png">
          <span class="card-title"></span>
        </div>
        <div class="card-action">
          <a href="cuentas.php" class="blue-text text-darken-2">Usuario</a>
        </div>
      </div>
    </div>
<?php } ?>

<?php if ($_SESSION["VerTP"]) { ?>
    <div class="col s4 m4">
      <div class="card">
        <div class="card-image">
          <img src="img/tipo.png">
          <span class="card-title"></span>
        </div>
        <div class="card-action">
          <a href="tipoProducto.php" class="blue-text text-darken-2">Tipo Producto</a>
        </div>
      </div>
    </div>
<?php } ?>

<?php if ($_SESSION["VerEP"]) { ?>
    <div class="col s4 m4">
      <div class="card">
        <div class="card-image">
          <img src="img/estados.png">
          <span class="card-title"></span>
        </div>
        <div class="card-action">
          <a href="estadoProducto.php" class="blue-text text-darken-2">Estado Producto</a>
        </div>
      </div>
    </div>
<?php } ?>

			</div>	
		</div>
		
	</div>

</section>