	<!-- Inicia Seccion de Contenido -->
	<section>
	   	<div class="container">
	   		<div class="row">
	   			<div class="col s1"></div>
	   			<div class="col s11">
	   				<div class="container">
			   			<h2>Editar Proyecto R. <?=$proyecto_id?></h2>
			   			 <div class="row">
						    <form class="col s12" action="controlador_editar_proyecto.php" method="POST">
						      <div class="row">
						          <div class="input-field col s12">
						          <input type="text" name="num" value="<?=$proyecto_id?>" readonly hidden>
						            <label for="num" hidden># Folio</label>
						          </div>
						      </div>
						      <div class="row">
						          <div class="input-field col s12">
						            <input type="text" name="nombreProyecto" value="<?=$nombre_proyecto?>">
						            <label for="nombreProyecto">Nombre</label>
						          </div>
						      </div>
						      <div class="row">
						          <div class="input-field col s12">
						            <?= consultar_editar_select("Id_EstatusProyecto", "Nombre", "estatusproyecto",$_GET["estatus"]);?>
						            
						          </div>
						      </div>

						      <div class="row">
						      	  <button class="btn waves-effect waves-light" type="submit" name="action">Submit
			   						 <i class="material-icons right">send</i>
			  					  </button>
						      </div>
						    </form>
						  </div>
			   		</div>
	   			</div>
	   		</div>
	   	</div>
   	</section>
   	<!-- Termina Seccion de Contenido -->
