  <!-- Inicia Seccion de Contenido -->
  <section>
      <div class="container">
        <div class="row">
          <div class="col s1"></div>
          <div class="col s11">
            <div class="container">
              <h2>Editar Estado</h2>

               <div class="row">
                <form class="col s12" method="POST" action="controlador_editar_estado.php">
                  <div class="row">
                      <div class="input-field col s12">
                        <input id="nombre" type="text" class="validate" name="nombre">
                        <label for="nombre">Nombre</label>
                      </div>
                    <div class="row">
                        <input class="btn" type="submit" value="Submit">
                      </input>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
    </section>
    <!-- Termina Seccion de Contenido -->