<script>  
   var loc = document.location;
  if(loc=="http://ciasaalmacen.ciasagroup.com.mx/Almacen/productos.php"){        
    productos.style.cssText='background-color:white; color:black;';
}
if(loc=="http://ciasaalmacen.ciasagroup.com.mx//Almacen/proyectos.php"){
	proyectos.style.cssText='background-color:white; color:black;';
}
if(loc=="http://ciasaalmacen.ciasagroup.com.mx//Almacen/reportes.php"){
	reportes.style.cssText='background-color:white; color:black;';

}
if(loc=="http://ciasaalmacen.ciasagroup.com.mx//Almacen/configuracion.php"){
	config.style.cssText='background-color:white; color:black;';

}
</script>