

<!-- Inicia Seccion de Contenido -->
	<section>
	   	<div class="container">
	   		<div class="row">
	   			<div class="col s4"></div>
	   			<div class="">
	   				<?php 
	   					$usuario = 'Marco';
	   					echo "<h1>Bienvenido, $usuario</h1>" 
	   				 ?>
	   				<br>
	   				<br>
	   				<div class="col s6">
	   					<!-- weather widget start --><a target="_blank" href="https://www.booked.net/weather/santiago-de-queretaro-w8570"><img src="https://w.bookcdn.com/weather/picture/3_w8570_1_1_137AE9_430_ffffff_333333_08488D_1_ffffff_333333_0_6.png?scode=2&domid=w209&anc_id=14788"  alt="booked.net"/></a><!-- weather widget end -->
	   					<br>
	   				</div>
	   				<div class="col s4  offset-s2">
	   					<h5> Actividad Reciente</h5>


	   				</div>
	   				<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
	   				<div class="col s6">
	   					<h5> Tutoriales </h5>
	   					<br>
	   					<iframe width="560" height="315" src="https://www.youtube.com/embed/gg46jJW_6Eg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	   				</div>
	   			</div>
	   		</div>
	   	</div>
   	</section>
   	<!-- Termina Seccion de Contenido -->