<!-- Seccion de Navegación -->
	<section>
	    <div class="row">
	    	<div class="col s4">
	    	<div class="sidenav sidenav-fixed dark-blue">	
		      <ul>
		      	<li class="logo"><img id="sides" class="logoSideNav" src="img/logo/logo.png"></li>
		      	<li> 
    				<div class="nav-wrapper">
     					 <form>
       						 <div class="input-field">
          						 <input id="search" type="search" required>
         					 	<label class="label-icon" for="search"><i class="material-icons">search</i></label>
         					 	<i class="material-icons">close</i>
       						 </div>
     					 </form>
   					 </div>
  				</li>
		      	<li class="bold"><a href="index.php">Inicio</a></li>
		        <li class="bold"><a href="reportes.php">Reportes</a></li>
		        <li class="bold"><a href="proyectos.php">Proyectos</a></li>
		        <li class="bold"><a href="productos.php">Inventario</a></li>
		        <li class="bold">
		        	<ul class="collapsible collapsible-accordion">
		        		<li class="bold">
		        			<a class="collapsible-header waves-effect waves-teal" tabindex="0">Configuración </a>
		        			<div class="collapsible-body  light-blue darken-4">
		        				<ul>
		        					<li class="bold">
		        						<a href="almacenes.php"> Almacenes </a>
		        					</li>
		        					<li class="bold">
		        						<a href="cuentas.php"> Cuentas </a>
		        					</li>
		        					<li class="bold">
		        						<a href="estadoProducto.php"> Estados de Productos </a>
		        					</li>	
		        					<li class="bold">
		        						<a href="marcas.php"> Marcas </a>
		        					</li>
		        					<li class="bold">
		        						<a href="tipoProducto.php"> Tipos de Productos </a>
		        					</li>
		        						        					
		        					<li class="bold">
		        						<a href="logout.php"> Cerrar Sesión </a>
		        					</li>
		        				</ul>	        				
		        			</div>
		        		</li>
		        	</ul>
		        </li>
		      </ul>
	    	</div>
	    	</div>
	    </div>
	</section>

	
   <div class="mobile-button"><a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons material-menu">menu</i></a></div>	  

  <ul class="sidenav dark-blue" id="mobile-demo">
		      	<li class="logo"><img id="sides" class="logoSideNav" src="img/logo/logo.png"></li>
		      	<li> 
    				<div class="nav-wrapper">
     					 <form>
       						 <div class="input-field">
          						 <input id="search" type="search" required>
         					 	<label class="label-icon" for="search"><i class="material-icons">search</i></label>
         					 	<i class="material-icons">close</i>
       						 </div>
     					 </form>
   					 </div>
  				</li>
		      	<li class="bold"><a href="index.php">Inicio</a></li>
		        <li class="bold"><a href="reportes.php">Reportes</a></li>
		        <li class="bold"><a href="proyectos.php">Proyectos</a></li>
		        <li class="bold"><a href="productos.php">Inventario</a></li>
		        <li class="bold">
		        	<ul class="collapsible collapsible-accordion">
		        		<li class="bold">
		        			<a class="collapsible-header waves-effect waves-teal" tabindex="0">Configuración </a>
		        			<div class="collapsible-body  light-blue darken-4">
		        				<ul>
		        					<li class="bold">
		        						<a href="almacenes.php"> Almacenes </a>
		        					</li>
		        					<li class="bold">
		        						<a href="cuentas.php"> Cuentas </a>
		        					</li>
		        					<li class="bold">
		        						<a href="estadoProducto.php"> Estados de Productos </a>
		        					</li>	
		        					<li class="bold">
		        						<a href="marcas.php"> Marcas </a>
		        					</li>
		        					<li class="bold">
		        						<a href="tipoProducto.php"> Tipos de Productos </a>
		        					</li>
		        						        					
		        					<li class="bold">
		        						<a href="logout.php"> Cerrar Sesión </a>
		        					</li>
		        				</ul>	        				
		        			</div>
		        		</li>
		        	</ul>
		        </li>
  </ul>


  <!-- Termina Navegación-->