<section>
  <div class="container">
    <div class="row">
      <div class="col s4">

        
    
      </div>

       <div class="center col s4"><h1>Reportes</h1></div><br><br>

      <div class="container">  
       <div class="row">
        
      <div class="col s4 m4">
      <div class="card">
        <div class="card-image">
          <img src="img/marcas.png">
          <span class="card-title"></span>
        </div>
        <div class="card-action">
          <a href="reporteEntradasSalidas.php" class="blue-text text-darken-2">Entradas y salidas</a>
        </div>
      </div>
    </div>

    <div class="col s4 m4">
      <div class="card">
        <div class="card-image">
          <img src="img/almacen.png">
          <span class="card-title"></span>
        </div>
        <div class="card-action">
          <a href="reporteStock.php" class="blue-text text-darken-2">Prestámos y Retornos</a>
        </div>
      </div>
    </div>

    <div class="col s4 m4">
      <div class="card">
        <div class="card-image">
          <img src="img/almacen.png">
          <span class="card-title"></span>
        </div>
        <div class="card-action">
          <a href="reporteStock.php" class="blue-text text-darken-2">Stock Actual &nbsp &nbsp</a>
        </div>
      </div>
    </div>

    <div class="col s4 m4">
      <div class="card">
        <div class="card-image">
          <img src="img/tipo.png">
          <span class="card-title"></span>
        </div>
        <div class="card-action">
          <a href="reporteCalibracion.php" class="blue-text text-darken-2">Calibración</a>
        </div>
      </div>
    </div>
      </div>  
    </div>
    
  </div>

</section>


