<?php

    echo "<section><div class=\"container\"<div class=\"row\"><div class=\"col s12\"><div class=\"container\"><h2 class=\"center\">Tipos de Producto</h2><br><br>";
    	if($_SESSION["AgregarTP"]){
    echo "<a class=\"btn-floating btn-large waves-effect waves-light green right\" href=\"_agregarTipoProducto.php\"><i class=\"material-icons\">add</i></a>"; }
    echo "<br><br>";"
    	require_once("model_tipoProducto.php");

    	echo "<br><div class=\"row\"><form method=\"POST\">";
	    echo "<div class=\"input-field \">";
	    echo consultar_tipoProducto("id","nombre");
	    echo "<div class=\"input-field col s3\">";
	    echo "</form></div>";

	echo "</div></div></div></div></section>";



?>