<script>  
   var loc = document.location;
  if(loc=="http://ciasaalmacen.ciasagroup.com.mx/productos.php"){        
    productos.style.cssText='background-color:white; color:black;';
}
if(loc=="http://ciasaalmacen.ciasagroup.com.mx/proyectos.php"){
	proyectos.style.cssText='background-color:white; color:black;';
}
if(loc=="http://ciasaalmacen.ciasagroup.com.mx/reportes.php"){
	reportes.style.cssText='background-color:white; color:black;';

}
if(loc=="http://localhost/Almacen/configuracion.php"){
	config.style.cssText='background-color:white; color:black;';

}
</script>