<section>
  <div class="container">
    <div class="row">
      <div class="col s4"><h6><?php 
              $usuario = $_SESSION['usuario'];
              echo '<span style="font-weight:bold">Usuario: </span>&nbsp&nbsp'.$usuario.'';
             ?><br><br><span style="font-weight:bold">Fecha:</span>&nbsp&nbsp <script>
      var meses = new Array ("Enero","Febrero","Marzo","Abril","Mayo","Junio","Julio","Agosto","Septiembre","Octubre","Noviembre","Diciembre");
      var diasSemana = new Array("Domingo","Lunes","Martes","Miércoles","Jueves","Viernes","Sábado");
      var f=new Date();
      document.write(diasSemana[f.getDay()] + ", " + f.getDate() + " de " + meses[f.getMonth()] + " de " + f.getFullYear());
      </script><h6></div>
      <div class="center col s4"><h1>Reportes</h1></div>
      <div class="container">
        <br>
          <div class="row">
              <div class="col s12">
                <ul class="tabs">
                  <li class="tab col s3"><a href="#test1">Entradas - Salidas</a></li>
                  <li class="tab col s3"><a href="#test2">Reporte 2</a></li>
                  <li class="tab col s3"><a href="#test3">Reporte 3</a></li>
                  <li class="tab col s3"><a href="#test4">Reporte 4</a></li>
                </ul>
              </div>
              <div id="test1" class="col s12">
          <br>
          <form method="POST">
            <div class="input-field ">
              <?= consultar_select("Id_Transaccion", "Nombre", "transaccion"); ?>
              </form>
              <?= consultar_transacciones(); ?>
            </div>

          

             
          </div>

          <br>
          <br></div>
              <div id="test2" class="col s12">Test 2</div>
              <div id="test3" class="col s12">Test 3</div>
              <div id="test4" class="col s12">Test 4</div>
            </div>





        


          <!--
        <div class="col s4">
            <div class="card small hoverable">
                <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" src="img/almacen.png">
                </div>
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">Proyectos Completados<i class="material-icons right">more_vert</i></span>
                  <p><a href="registrar_Almacen.php">Agregar Almacén</a></p>
                  <p><a href="almacenes.php">Editar Almacén</a></p>
                </div>
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4">Configurar Almacén<i class="material-icons right">close</i></span>
                  <p>Descripción</p>
                </div>
            </div>
        </div>

        <div class="col s4">
            <div class="card small hoverable">
                <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" src="img/marcas.png">
                </div>
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">Proyectos en Proceso<i class="material-icons right">more_vert</i></span>
                  <p><a href="controlador_registra_marca.php">Agregar Marcas</a></p>
                  <p><a href="marcas.php">Editar Marcas</a></p>
                </div>
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4">Configurar Marcas<i class="material-icons right">close</i></span>
                  <p>Descripción</p>>
                </div>
            </div>
        </div>

        <div class="col s4">
            <div class="card small hoverable">
                <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" src="img/add.png">
                </div>
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">Calibración de Herramientas<i class="material-icons right">more_vert</i></span>
                  <p><a href="_agregarEmpleado.php">Agregar Usuarios</a></p>
                  <p><a href="cuentas.php">Editar Usuarios</a></p>
                </div>
                <div class="card-reveal ">
                  <span class="card-title grey-text text-darken-4">Configurar Usuarios<i class="material-icons right">close</i></span>
                  <p>Descripción</p>
                </div>
            </div>
        </div>

        <div class="col s4">
            <div class="card small hoverable">
                <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" src="img/tipo.png">
                </div>
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">Entradas de Materiales y Salidas<i class="material-icons right">more_vert</i></span>
                  <p><a href="_agregarTipoProducto.php">Agregar Tipo de Producto</a></p>
                  <p><a href="tipoProducto.php">Editar Tipo de Producto/a></p>
                </div>
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4">Configuarar Producto<i class="material-icons right">close</i></span>
                  <p>Descripción</p>
                </div>
            </div>
        </div>

        <div class="col s4">
            <div class="card small hoverable">
                <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" src="img/tipo.png">
                </div>
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">Otro Reporte <i class="material-icons right">more_vert</i></span>
                  <p><a href="_agregarTipoProducto.php">Agregar Tipo de Producto</a></p>
                  <p><a href="tipoProducto.php">Editar Tipo de Producto/a></p>
                </div>
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4">Configuarar Producto<i class="material-icons right">close</i></span>
                  <p>Descripción</p>
                </div>
            </div>
        </div>

        <div class="col s4">
            <div class="card small hoverable">
                <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" src="img/estados.png">
                </div>
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">Estados de Producto<i class="material-icons right">more_vert</i></span>
                  <p><a href="_agregarEstadoProducto.php">Agregar Estado de Producto</a></p>
                  <p><a href="estadoProducto.php">Editar Estado de Producto</a></p>
                </div>
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4">Configurar Estados de Productos<i class="material-icons right">close</i></span>
                  <p>Descripción</p>
                </div>
            </div>-->
        </div>
      </div>  
    </div>
    
  </div>

</section>
